# Archivos y carpetas generados por Python
__pycache__/
*/__pycache__/
__init__.py
*/__init__.py
#Archivos y carpetas de configuración
envCorreos/
config.ini

#Carpeta de logs
logs/*.log
!logs/example.log